In [240]:
import pandas as pd

data_cat = pd.read_csv("cat_breeds_dirty.csv", sep=";")
data = data_cat.copy()

In [241]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103 entries, 0 to 1102
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Breed                    991 non-null    object
 1   Age_in_years             1072 non-null   float64
 2   Age_in_months            1066 non-null   float64
 3   Gender                   1036 non-null   object
 4   Neutered_or_spayed       1050 non-null   object
 5   Body_length              1077 non-null   float64
 6   Weight                   1077 non-null   float64
 7   Fur_colour_dominant      1090 non-null   object
 8   Fur_pattern              1055 non-null   object
 9   Eye_colour               1064 non-null   object
 10  Allowed_outdoor          1060 non-null   object
 11  Preferred_food           1082 non-null   object
 12  Owner_play_time_minutes  1082 non-null   float64
 13  Sleep_time_hours         1062 non-null   float64
 14  Country                  1028 non-null   object
 15  Latitude                 1042 non-null   float64
 16  Longitude                1042 non-null   float64
dtypes: float64(8), object(9)
memory usage: 146.6+ KB

In [242]:
data.isnull().sum() * 100/ len(data)

Breed                      10.154125
Age_in_years                2.810517
Age_in_months               3.354488
Gender                      6.074343
Neutered_or_spayed          4.805077
Body_length                 2.357208
Weight                      2.357208
Fur_colour_dominant         1.178604
Fur_pattern                 4.351768
Eye_colour                  3.535811
Allowed_outdoor             3.898459
Preferred_food              1.903898
Owner_play_time_minutes     1.903898
Sleep_time_hours            3.717135
Country                     6.799637
Latitude                    5.530372
Longitude                   5.530372
dtype: float64

On vois que les valeur null sont petite donc le plus mieux serait de les suprimer

In [243]:
data = data.dropna()

les copie a suprimmer

In [244]:
data[data.duplicated()]

,Breed,Age_in_years,Age_in_months,Gender,Neutered_or_spayed,Body_length,Weight,Fur_colour_dominant,Fur_pattern,Eye_colour,Allowed_outdoor,Preferred_food,Owner_play_time_minutes,Sleep_time_hours,Country,Latitude,Longitude
1071,Angora,2.250000,27.0,male,True,25.0,3.1,white,solid,amber,FALSE,wet,39.0,16.0,France,47.218371,-1.553621
1072,Angora,2.250000,27.0,male,True,38.0,5.3,white,solid,amber,FALSE,wet,39.0,14.0,Vive la France!,48.864716,2.349014
1073,Angora,2.330000,28.0,female,False,36.0,4.0,red/cream,solid,blue,FALSE,dry,19.0,14.0,France,47.218371,-1.553621
1074,Angora,2.330000,28.0,female,False,36.0,2.4,white,dirty,blue,FALSE,wet,19.0,16.0,France,45.763420,4.834277
1075,Angora,2.330000,28.0,male,True,39.0,3.9,white,solid,blue,FALSE,wet,34.0,14.0,France,45.763420,4.834277
1076,Angora,2.670000,32.0,female,True,38.0,3.9,red/cream,solid,blue,FALSE,wet,37.0,14.0,France,44.837789,-0.579180
1077,Angora,2.670000,32.0,male,False,40.0,4.0,black,solid,blue,FALSE,dry,30.0,14.0,France,43.296482,5.369780
1078,Angora,2.670000,32.0,female,True,34.0,3.9,black,solid,green,TRUE,dry,21.0,14.0,France,45.763420,4.834277
1079,Angora,2.920000,35.0,female,True,34.0,4.1,white,solid,green,TRUE,wet,28.0,14.0,France,43.296482,5.369780
1080,Angora,2.920000,35.0,female,True,32.0,2.5,white,solid,amber,FALSE,wet,33.0,14.0,France,48.864716,2.349014
1081,Angora,2.920000,35.0,male,True,41.0,3.8,white,solid,amber,FALSE,wet,21.0,14.0,USA,40.714270,-74.005970
1082,Angora,2.920000,35.0,male,False,39.0,4.1,white,solid,blue,FALSE,wet,28.0,14.0,USA,40.714270,-74.005970
1083,Angora,3.000000,36.0,male,True,39.0,4.4,white,solid,green,FALSE,dry,16.0,15.0,USA,40.714270,-74.005970
1084,Angora,3.000000,36.0,male,False,39.0,4.8,white,solid,blue,FALSE,wet,44.0,14.0,USA,37.774930,-122.419420
1085,Angora,3.080000,37.0,male,True,39.0,5.1,red/cream,tabby,blue,FALSE,dry,25.0,16.0,USA,47.606210,-122.332070
1086,Ankora,3.080000,37.0,male,True,38.0,3.7,black,solid,green,TRUE,wet,25.0,14.0,USA,47.606210,-122.332070
1087,Ankora,3.080000,37.0,male,True,40.0,5.3,white,solid,blue,FALSE,dry,11.0,14.0,France,44.837789,-0.579180
1088,Ankora,3.170000,38.0,female,False,36.0,4.0,white,solid,amber,FALSE,wet,11.0,14.0,USA,40.714270,-74.005970
1089,Angora,3.250000,39.0,male,False,40.0,4.5,black,bicolor,blue,FALSE,wet,12.0,16.0,USA,47.606210,-122.332070
1090,Angora,3.420000,41.0,male,True,41.0,4.4,white,solid,amber,FALSE,dry,24.0,17.0,USA,45.523450,-122.676210
1091,Angora,3.500000,42.0,male,True,39.0,4.8,black,solid,blue,FALSE,wet,15.0,16.0,USA,45.523450,-122.676210
1092,Angora,3.580000,43.0,female,True,34.0,3.3,white,solid,blue,FALSE,wet,20.0,14.0,USA,41.881832,-87.623177
1093,Angora,3.670000,44.0,male,False,39.0,4.5,white,solid,amber,FALSE,wet,23.0,14.0,USA,47.606210,-122.332070
1094,Angora,3.670000,44.0,male,False,37.0,4.6,white,solid,amber,FALSE,wet,32.0,14.0,France,43.611660,3.877710
1095,Angora,3.750000,45.0,male,True,43.0,3.9,white,solid,blue,FALSE,wet,38.0,14.0,USA,39.290380,-76.612190
1096,Angora,3.830000,46.0,male,False,37.0,4.1,white,solid,green,FALSE,wet,38.0,16.0,USA,38.895110,-77.036370
1097,Angora,3.830000,46.0,male,True,40.0,4.8,black,bicolor,amber,TRUE,wet,11.0,15.0,USA,40.714270,-74.005970
1098,Angora,4.170000,50.0,female,True,35.0,2.8,white,solid,amber,TRUE,dry,28.0,14.0,USA,45.523450,-122.676210
1099,Angora,-4.250000,-51.0,male,True,37.0,4.6,white,solid,amber,FALSE,dry,36.0,14.0,France,45.763420,4.834277
1100,Angora,-4.333333,-52.0,female,True,34.0,4.3,white,solid,cute,FALSE,wet,37.0,16.0,USA,42.358430,-71.059770
1101,Angora,-4.333333,-52.0,female,True,35.0,3.8,black,solid,amber,FALSE,wet,30.0,14.0,USA,45.523450,-122.676210
1102,Angora,-4.333333,-52.0,female,True,32.0,2.4,white,solid,blue,FALSE,wet,40.0,14.0,USA,47.606210,-122.332070

In [245]:
data.head()

,Breed,Age_in_years,Age_in_months,Gender,Neutered_or_spayed,Body_length,Weight,Fur_colour_dominant,Fur_pattern,Eye_colour,Allowed_outdoor,Preferred_food,Owner_play_time_minutes,Sleep_time_hours,Country,Latitude,Longitude
0,Angora,0.25,3.0,female,False,19.0,2.0,white,solid,blue,FALSE,wet,46.0,16.0,France,43.296482,5.36978
1,Angora,0.33,4.0,male,False,19.0,2.5,white,solid,blue,FALSE,wet,48.0,16.0,France,43.611660,3.87771
26,Angora,1.25,15.0,female,True,26.0,3.4,white,solid,blue,FALSE,wet,25.0,15.0,France,43.296482,5.36978
27,Angora,5.33,64.0,male,True,44.0,4.6,white,solid,blue,TRUE,wet,20.0,16.0,France,44.837789,-0.57918
52,Angora,2.25,27.0,male,False,38.0,4.6,red/cream,tabby,blue,FALSE,wet,11.0,14.0,France,44.837789,-0.57918

##### Breed - Correction

In [246]:
data['Breed'].value_counts()

Breed
Ragdoll       325
Maine coon    204
Angora        154
My coon        24
Ankora         13
wrack doll      7
Angorra         6
Maine loon      5
rack doll       5
ragdoll         4
maine coon      1
Name: count, dtype: int64

In [247]:
data.loc[data['Breed'].isin(['wrack doll','rack doll','ragdoll']), 'Breed'] =  'Ragdoll'
data.loc[data['Breed'].isin(['My coon','Maine loon','maine coon']),'Breed'] = 'Maine coon'
data.loc[data['Breed'].isin(['Ankora','Angorra']), 'Breed'] = 'Angora'

#### Age - correction

In [248]:
column = ['Age_in_months', 'Age_in_years']
filtre = (data['Age_in_months'] < 0) | (data['Age_in_years'] < 0)
data.loc[filtre, column] = data.loc[filtre, column].abs()
data

,Breed,Age_in_years,Age_in_months,Gender,Neutered_or_spayed,Body_length,Weight,Fur_colour_dominant,Fur_pattern,Eye_colour,Allowed_outdoor,Preferred_food,Owner_play_time_minutes,Sleep_time_hours,Country,Latitude,Longitude
0,Angora,0.250000,3.0,female,False,19.0,2.0,white,solid,blue,FALSE,wet,46.0,16.0,France,43.296482,5.369780
1,Angora,0.330000,4.0,male,False,19.0,2.5,white,solid,blue,FALSE,wet,48.0,16.0,France,43.611660,3.877710
26,Angora,1.250000,15.0,female,True,26.0,3.4,white,solid,blue,FALSE,wet,25.0,15.0,France,43.296482,5.369780
27,Angora,5.330000,64.0,male,True,44.0,4.6,white,solid,blue,TRUE,wet,20.0,16.0,France,44.837789,-0.579180
52,Angora,2.250000,27.0,male,False,38.0,4.6,red/cream,tabby,blue,FALSE,wet,11.0,14.0,France,44.837789,-0.579180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,Angora,4.170000,50.0,female,True,35.0,2.8,white,solid,amber,TRUE,dry,28.0,14.0,USA,45.523450,-122.676210
1099,Angora,4.250000,51.0,male,True,37.0,4.6,white,solid,amber,FALSE,dry,36.0,14.0,France,45.763420,4.834277
1100,Angora,4.333333,52.0,female,True,34.0,4.3,white,solid,cute,FALSE,wet,37.0,16.0,USA,42.358430,-71.059770
1101,Angora,4.333333,52.0,female,True,35.0,3.8,black,solid,amber,FALSE,wet,30.0,14.0,USA,45.523450,-122.676210
1102,Angora,4.333333,52.0,female,True,32.0,2.4,white,solid,blue,FALSE,wet,40.0,14.0,USA,47.606210,-122.332070

In [249]:
data[['Age_in_months', 'Age_in_years']].dtypes

Age_in_months    float64
Age_in_years     float64
dtype: object

In [250]:
data[['Age_in_months', 'Age_in_years']] = data[['Age_in_months', 'Age_in_years']].astype('int16')

#### Gender

In [251]:
data["Gender"].unique()

array(['female', 'male'], dtype=object)

#### Neutered_or_spayed

In [252]:
data['Neutered_or_spayed'].unique()

array([False, True], dtype=object)

In [253]:
data['Neutered_or_spayed'] = data['Neutered_or_spayed'].astype('boolean')

#### Body_length and weight

In [254]:
data['Body_length'].unique()
data['Body_length'] = data['Body_length'].astype('int16')
data['Body_length'].dtype

dtype('int16')

In [255]:
data['Weight'].unique()

array([ 2.  ,  2.5 ,  3.4 ,  4.6 ,  3.7 ,  3.1 ,  5.3 ,  4.  ,  2.4 ,
        3.9 ,  4.1 ,  3.8 ,  4.4 ,  4.8 ,  5.1 ,  4.5 ,  3.3 ,  2.8 ,
        4.3 ,  4.9 ,  4.7 ,  5.2 ,  2.7 ,  5.5 ,  3.2 ,  3.6 ,  4.2 ,
        2.2 ,  5.4 ,  3.5 ,  2.9 ,  5.  ,  2.6 ,  3.  ,  6.3 ,  9.  ,
        5.36,  9.4 , 11.3 ,  6.61,  8.42,  8.47,  7.2 ,  9.9 ,  6.9 ,
        8.3 ,  8.5 ,  9.7 ,  9.1 ,  7.15,  9.6 ,  6.09,  7.77,  3.75,
       10.8 ,  8.4 ,  8.  ,  7.1 , 10.4 ,  6.55,  7.12,  9.8 ,  5.47,
       10.1 ,  5.79, 10.5 ,  8.22,  6.67,  7.3 ,  5.65,  7.01,  8.21,
       11.5 ,  7.44,  8.68,  4.88, 10.3 ,  6.39,  6.25,  5.92,  6.31,
        7.  ,  4.95,  6.19,  4.54,  8.89,  5.76,  8.1 ,  4.23, 10.6 ,
        8.26,  5.31,  6.11,  8.8 ,  7.89,  3.76, 11.6 ,  8.18,  7.5 ,
        6.15,  4.76,  5.8 ,  7.65,  6.29,  8.9 ,  5.58,  5.91,  7.9 ,
       11.2 ,  6.92,  8.13,  8.31,  6.84, 10.2 ,  8.7 , 11.7 ,  7.24,
        7.82,  8.41,  6.98,  6.2 ,  5.62, 11.  ,  6.43,  5.28,  8.14,
        7.86,  8.2 ,  7.4 ,  3.61,  5.84, 11.1 ,  9.5 ,  7.6 , 10.9 ,
        5.45,  5.49,  7.98,  7.79,  7.05,  9.2 , 10.  ,  4.15,  7.99,
        5.16,  7.35,  5.23,  7.27,  7.75,  6.  ,  5.12,  5.77,  8.07,
        6.01,  5.18,  6.45,  8.62,  6.78,  6.87,  4.39,  6.8 ,  6.77,
        6.72,  4.61,  5.53,  7.41,  4.65,  4.63,  5.97,  5.67,  8.92,
        6.96,  6.1 ,  5.64,  7.48,  5.35,  4.22,  7.78,  7.87,  4.44,
        6.35,  4.59,  4.72,  6.07,  6.83,  6.79,  7.32,  6.68,  3.98,
        8.02,  8.33,  4.26,  4.91,  5.6 ,  7.54,  7.93,  5.22,  8.6 ,
        3.74,  6.89,  7.33,  5.81,  5.7 ,  4.75,  5.56,  5.09,  6.93,
        6.47,  5.38,  8.46,  8.05,  5.71,  8.38,  6.18,  8.54,  6.27,
        5.73,  7.72,  6.95,  4.16,  6.75,  6.71,  7.06,  5.59,  9.19,
        6.63,  8.74,  7.43,  6.17,  6.52,  7.55,  7.21,  5.94,  5.87,
        7.13,  8.59,  7.08,  6.69,  3.73,  8.97,  3.86,  7.25,  5.43,
        6.06,  4.62,  5.01,  6.22,  8.27,  5.26,  3.99,  6.21,  6.53,
        8.23,  7.22,  7.18,  3.92,  5.04,  8.95,  6.74,  7.73,  7.91,
        7.03,  4.87,  7.36,  5.52,  7.07,  6.42,  6.28,  7.67,  7.62,
        6.58,  4.28,  7.66,  6.73,  6.99,  5.74,  6.16,  9.07,  5.03,
        6.76,  5.99,  5.86,  8.45,  5.51,  6.37,  4.37,  6.46,  4.33,
        6.04,  6.4 ,  4.31,  5.72,  5.82,  9.13,  6.82,  6.66,  6.36,
        7.52,  3.71,  8.61,  7.16,  4.57,  7.34,  8.17,  6.38,  9.08,
        6.51,  4.06,  7.59,  0.6 ,  0.8 ,  0.7 ,  0.9 ,  1.3 ,  1.1 ,
        1.2 ,  0.5 ,  1.  ])

#### Fur_colour_dominant, Fur_pattern, Eye_colour

In [256]:
data['Fur_colour_dominant'].unique()

array(['white', 'red/cream', 'black', 'brown/chocolate', 'seal', 'lilac'],
      dtype=object)

In [257]:
data['Fur_pattern'].unique()

array(['solid', 'tabby', 'dirty', 'bicolor', 'tortie', 'colorpoint',
       'mitted'], dtype=object)

In [258]:
data['Fur_pattern'].unique()
data['Fur_pattern'].value_counts()
data.loc[data['Fur_pattern'] == 'dirty','Fur_pattern'] = 'solid' ## les chat blanc sont touse de couleur uniforme

In [259]:
data.loc[data['Fur_colour_dominant'] == 'white','Fur_pattern'].value_counts()

Fur_pattern
solid    157
Name: count, dtype: int64

In [260]:
data["Eye_colour"].unique()
data["Eye_colour"].value_counts()

Eye_colour
blue                        385
yellow                      179
green                       114
amber                        65
cute                          4
I dont know. Its pretty!      1
Name: count, dtype: int64

In [261]:
data.drop(data[(data["Eye_colour"] == 'cute') | (data["Eye_colour"] == 'I dont know. Its pretty!')].index,inplace = True)

In [262]:
data.columns

Index(['Breed', 'Age_in_years', 'Age_in_months', 'Gender',
       'Neutered_or_spayed', 'Body_length', 'Weight', 'Fur_colour_dominant',
       'Fur_pattern', 'Eye_colour', 'Allowed_outdoor', 'Preferred_food',
       'Owner_play_time_minutes', 'Sleep_time_hours', 'Country', 'Latitude',
       'Longitude'],
      dtype='object')

#### Allowed_outdoor

In [263]:
data['Allowed_outdoor'].unique()

array(['FALSE', 'TRUE',
       "I dont allow her outside. I'm a responsible owner"], dtype=object)

In [264]:
data.loc[data['Allowed_outdoor'] == "I dont allow her outside. I'm a responsible owner", 'Allowed_outdoor'] = 'FALSE'

In [265]:
data['Allowed_outdoor'] = data['Allowed_outdoor'].map({'FALSE':False, 'TRUE': True})
data['Allowed_outdoor'] = data['Allowed_outdoor'].astype('boolean')

#### Preferred_food

In [266]:
data['Preferred_food'].unique()

array(['wet', 'dry'], dtype=object)

#### Owner_play_time_minutes, Sleep_time_hours

In [267]:
data['Owner_play_time_minutes'].unique()
data[['Owner_play_time_minutes','Sleep_time_hours']].dtypes
data[['Owner_play_time_minutes','Sleep_time_hours']] = data[['Owner_play_time_minutes','Sleep_time_hours']].astype('int16')

#### Country, Latitude, Longitude

In [268]:
data['Country'].unique()
data.loc[ data['Country'] ==  'Vive la France!', 'Country'] = 'France'

In [269]:
latitude = data.loc[data['Country'] == 'my country', 'Latitude'].iloc[0]
longitude = data.loc[data['Country'] == 'my country', 'Longitude'].iloc[0]

data.loc[(data['Latitude'] == latitude) & (data['Longitude'] == longitude), 'Country' ]
data.loc[ data['Country'] ==  'my country', 'Country'] = 'Canada'

In [270]:
data['Country'].unique()

array(['France', 'USA', 'Germany', 'Canada', 'UK'], dtype=object)

France Latitude : ~41° N → 51° N, Longitude : ~–5° W → +9° E

🇺🇸 (continentaux, hors Alaska et Hawaï)Latitude : ~25° N → 49° N,Longitude : ~–125° W → –66° W
(Si on inclut l’Alaska : latitude monte jusqu’à ~71° N, longitude jusqu’à ~–170° W)

🇬🇧 Latitude : ~49° N → 59° N , Longitude : ~–8° W → +2° E

🇨🇦 Latitude : ~42° N → 83° N , Longitude : ~–141° W → –52° W

🇩🇪 Latitude : ~47° N → 55° N , Longitude : ~6° E → 15° E

In [271]:
location = data[['Country','Latitude','Longitude']]
location.value_counts()
location[location['Country'] == 'France'].describe()
location[location['Country'] == 'USA'].describe()
location[location['Country'] == 'UK'].describe()
location[location['Country'] == 'Canada'].describe()
location[location['Country'] == 'Germany'].describe()

        Latitude  Longitude
count  68.000000  68.000000
mean   50.487693  10.388415
std     1.647307   2.479514
min    48.137154   6.773456
25%    49.617481   8.682127
50%    50.110924  11.576124
75%    52.520008  13.404954
max    52.520008  13.404954

#### Index

In [272]:
data.index

Index([   0,    1,   26,   27,   52,   53,   54,   55,   56,   57,
       ...
       1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1101, 1102],
      dtype='int64', length=743)

In [273]:
data = data.reset_index(drop = True)

#### Conclusion

In [274]:
data_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103 entries, 0 to 1102
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Breed                    991 non-null    object
 1   Age_in_years             1072 non-null   float64
 2   Age_in_months            1066 non-null   float64
 3   Gender                   1036 non-null   object
 4   Neutered_or_spayed       1050 non-null   object
 5   Body_length              1077 non-null   float64
 6   Weight                   1077 non-null   float64
 7   Fur_colour_dominant      1090 non-null   object
 8   Fur_pattern              1055 non-null   object
 9   Eye_colour               1064 non-null   object
 10  Allowed_outdoor          1060 non-null   object
 11  Preferred_food           1082 non-null   object
 12  Owner_play_time_minutes  1082 non-null   float64
 13  Sleep_time_hours         1062 non-null   float64
 14  Country                  1028 non-null   object
 15  Latitude                 1042 non-null   float64
 16  Longitude                1042 non-null   float64
dtypes: float64(8), object(9)
memory usage: 146.6+ KB

In [275]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743 entries, 0 to 742
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Breed                    743 non-null    object
 1   Age_in_years             743 non-null    int16
 2   Age_in_months            743 non-null    int16
 3   Gender                   743 non-null    object
 4   Neutered_or_spayed       743 non-null    boolean
 5   Body_length              743 non-null    int16
 6   Weight                   743 non-null    float64
 7   Fur_colour_dominant      743 non-null    object
 8   Fur_pattern              743 non-null    object
 9   Eye_colour               743 non-null    object
 10  Allowed_outdoor          743 non-null    boolean
 11  Preferred_food           743 non-null    object
 12  Owner_play_time_minutes  743 non-null    int16
 13  Sleep_time_hours         743 non-null    int16
 14  Country                  743 non-null    object
 15  Latitude                 743 non-null    float64
 16  Longitude                743 non-null    float64
dtypes: boolean(2), float64(3), int16(5), object(7)
memory usage: 68.3+ KB